img {
    border-radius: 15px;
    margin-top: 15px;
}

.box {
    text-align: center;
    background-color: white;
    border-radius: 15px;
    margin: 0px auto;
    max-width: 606px;
}

.text {
    font-family: 'Outfit', sans-serif;
    padding: 5px 20px;
}

p {
    font-size: 15px;
}

body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}