img {
    border-radius: 15px;
}

.box {
    text-align: center;
    background-color: white;
    border-radius: 15px;
    margin: 0px auto;
    max-width: fit-content;
}

.text {
    font-family: 'Outfit', sans-serif;
    padding: 5px 20px;
}

p {
    font-size: 15px;
}